annotated-types
anyio
bcrypt==3.2.2
certifi
charset-normalizer
click
fastapi
google-generativeai
h11
httpcore
httpx
idna
MarkupSafe
packaging
passlib
pdfminer.six
pdfplumber
pillow
pydantic
pydantic-settings
pydantic_core
PyJWT
python-dotenv
python-multipart
requests
six
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
sentry-sdk
email-validator
psycopg[binary]
